@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PPNeueMachinaRegular";
  src: url("/fonts/PP_Neue_Machina_Regular.otf");
}

@font-face {
  font-family: "PPNeueMachinaBold";
  src: url("/fonts/PP_Neue_Machina_Ultrabold.ttf");
}

@font-face {
  font-family: "PPMigraItalicExtraboldItalic";
  src: url("/fonts/PP_Migra_Italic_Extrabold_Italic.ttf");
}

@font-face {
  font-family: "ClashDisplayMedium";
  src: url("/fonts/Clash_Display_Medium.otf");
}
